@view-transition {
  navigation: auto;
}

/* Aplica a todo el grupo de la vista */
::view-transition-group(*) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

#root {
  display: flex;
  width: 100%;
  height: auto;
}

:root {
  --lila: #368986;
  --amarillo: #e79a32;
  --rojo: #f84339;
  --rosa: #d40f60;
  --azul: #005c81;
  --gris: #e5ead4;
  --beige: #ddcaa2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}
